
h2{
    font-size: 42px;
    text-align: center;
    margin-top: 5%;
}

.input{
    margin-top: 10%;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
}

button{
    width: 192px;
    margin-left: 43%;
    
}

h4{
    text-align:center;
}