body{
    background-image: url(https://cdn.discordapp.com/attachments/1008909951785246782/1116484058675953755/imobiliaria.jpg);
    background-size: cover;
}

h3, h1 {
    margin-top: 3%;   
    
}

#inputs{
    margin-top: 5%;
    width: 160px;
    margin-left: 44%;
}

input{
    width: 160px;
    height: 35px;
    border: black, 3px;
}

button{
    box-shadow: none;
    text-shadow: none;
    background-color: #4BEE4B;
    border: 1px;
    width: 101px;
    height: 42px;
    border-radius: 10%;
}

#divMain{
    text-align: center;
    align-items: center;
}

h4{
    font-size: 26px;
}

